<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default fixed-nav">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand color-white"  href="#">Reconciliation System</a>
        </div>
        <ul class="nav navbar-nav">
        <li ><a class="color-white" data-toggle="tab" href="#fileManager" >Discrepancy Manager</a></li>
        <li><a class="color-white" data-toggle="tab" href="#processManager" >Discrepancy report</a></li>
        </ul>
    </div>
</nav>

<div class="container-body" id="fileManager">
    <div  class="container-content manager-border app-manager" > 
        <app-manager ></app-manager>
    </div>
</div>

<div class="extra-padding" ></div>

<div class="container-body row" id="processManager">       
        <div class="col-lg-3 manager-border" style="background-color:white" > 
                
               <h3>Historical Discrepancy data</h3>
               <h4>(Click on the file name to download)</h4>   
                <ul>
                    <li *ngFor="let link of csvFileLinks;let i = index;" (click)="onLink(i)"><a target="_self" >{{link}} </a></li>
                </ul>
        </div>
        <div class=" col-lg-8" > 
                <div  style="width:100%;margin-left:4%;" class="container-content manager-border"> 
                    <app-output-process></app-output-process>
                </div>
        </div>          
        
</div>


